@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme {
  --font-boldonse: var(--next-font-boldonse);
  --font-montserrat: var(--next-font-montserrat);
  --color-black:#0c0c0c;
  --color-muted:#cbcbcb;
  --color-primary:#731012;
  --color-mid: #606060;
}


body {
  background: var(--background);
  font-family: var(--font-montserrat);
  color: var(--color-black);
}
